<?xml version="1.0"?>
<!-- ************************************************************************************************** -->
<!--                                             Read Me 						-->
<!-- ************************************************************************************************** -->
<!--                                       Printer Attributes						-->
<!-- ************************************************************************************************** -->
<!-- 1. "name" value can only be "TH210" or "TH250"							-->
<!-- 2. "port" value can be "USB" for USB								-->
<!--			    "comport,baudrate" for RS232 for example "COM1,19200"			-->
<!--	                    "ipaddress,portnumber" for ethernet for example "10.1.2.75,9001"		-->
<!-- 3. "firmwarepath" value can be any path to a folder that has the firmware files			-->
<!-- 4. "bootwarepath" value can be any path to a folder that has the bootware files			-->
<!-- 5. "commandpath" value can be any path to a folder that has the command txt files			-->
<!-- 6. "delaycdko" [optional] hex value indicating # of millisecond to delay Cash Drawer Turn On 	-->
<!--		in 10 ms increments, for example "0x14" (200ms) or "0xFF" (2550ms) or "0x09" (90ms)	-->
<!--		Must be in format of "0xNN" where "NN" is valid hexadecimal				-->
<!--		Maximum value is "0xFF" (2550ms)							-->
<!--		If not present or value is invalid, defaults to "0x14" (200ms)				-->
<!-- ************************************************************************************************** -->
<!-- ************************************************************************************************** -->

<printers>

	<!-- TH210 Windows USB -->
	<!--<printer name="TH210" port="USB" firmwarepath="C:\TH2xxDownloadService\firmware" bootwarepath="C:\TH2xxDownloadService\bootware" commandpath="C:\TH2xxDownloadService\command" delaycdko="0x20"/>-->

	<!-- TH210 Windows Serial -->
	<!--<printer name="TH210" port="COM1,19200" firmwarepath="C:\TH2xxDownloadService\firmware" bootwarepath="C:\TH2xxDownloadService\bootware" commandpath="C:\TH2xxDownloadService\command" delaycdko="0x20"/>-->

	<!-- TH230 Windows USB -->
	<!--<printer name="TH230" port="USB" firmwarepath="C:\TH2xxDownloadService\firmware" bootwarepath="C:\TH2xxDownloadService\bootware" commandpath="C:\TH2xxDownloadService\command" delaycdko="0x20"/>-->

	<!-- TH250 Windows USB -->
	<printer name="TH250" port="USB" firmwarepath="C:\TH2xxDownloadService\firmware" bootwarepath="C:\TH2xxDownloadService\bootware" commandpath="C:\TH2xxDownloadService\command" delaycdko="0x20"/>

	<!-- TH250 Windows Serial -->
	<!--<printer name="TH250" port="COM1,19200" firmwarepath="C:\TH2xxDownloadService\firmware" bootwarepath="C:\TH2xxDownloadService\bootware" commandpath="C:\TH2xxDownloadService\command" delaycdko="0x20"/>-->

	<!-- TH250 Windows Ethernet -->
	<!--<printer name="TH250" port="10.1.2.41,9001" firmwarepath="C:\TH2xxDownloadService\firmware" bootwarepath="C:\TH2xxDownloadService\bootware" commandpath="C:\TH2xxDownloadService\command" delaycdko="0x20"/>-->

</printers>
